<launch>
  <include file="$(find nbv_playground)/launch/moveit.launch"> 
    <arg name="info" value="true" />
  </include>

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="9090" />
  </include>

  <node name="moveit_test" pkg="nbv_playground" type="pose_control_test.py">
  </node>
</launch>
